<!--
title: Cairn
description: Ducal Capital of the House of Mormire
published: true
date: 2021-06-10T22:10:30.462Z
tags: places
editor: ckeditor
dateCreated: 2021-06-10T21:59:22.784Z
-->

<figure class="image image-style-align-right"><img src="/cairn.png"></figure>
<p>Cairn is the Capital city of the Duchy of Mormire in the <a href="/places/FirstCity">First City of Men.</a></p>
<p>Home to the <a href="/characters/Boltar">Duke Boltar</a> and his three sons, The city is the main port city of The First City of Men and a major trade hub for Eastern Nissea, which sees tens of thousands of commuting travelers from the outlying <a href="/places/Wanderlands">Wanderlands</a>. The city is also the most well known hub for the garden-wide slave trade. As the Duke Boltar is a known and prolific slave trader.&nbsp;</p>
<h2>History</h2>
