<!--
title: The Valorite Roots
description: Book Originating in the Duchy of Pan from the Ancient First City.
published: true
date: 2021-06-22T16:49:09.925Z
tags: literature
editor: ckeditor
dateCreated: 2021-06-22T16:49:09.925Z
-->

<p>“We should leave father something. For when he visits.”</p>
<p>Nielthea’s golden hair hushed the wind as her eyes wandered back towards her lover. Without a moment more than he needed to take in the aurorial scape of her hair, He let a brimming smile crack across his golden face... “You never wonder where father is… What could cause you to <i>want</i> him to find us...” Galdron rounded the steps to draw in his lovers face. The air fluted a tune between their star crossed faces.&nbsp;<br><br>“Do you hear that my lady?”&nbsp;<br><br>Galdron grabbed her hand with a playful thrust into the air they began to twirl together. Their hearts twirling themselves into their garden as it began to dance along with them.&nbsp;<br><br>To Friends we greet thee hand in Heart,</p>
<p>To foes we shall no longer be,&nbsp;<br>For here our cheer shall conquer thee!&nbsp;</p>
<p><br>The sun shone brighter, Their blood ran faster and sooner than the birds could sing to accompany their twirling dance through the garden. The two lovers found themselves side by side across a land that would ever rise to meet their feet. Everwind be at their back. So it was when the Dragons first nested in the Stillwater Valley.&nbsp;</p>
<p><br>Neverwinds that took a branch forlorn tree,</p>
<p>Nor spark from fire not pour’d from breath.</p>
<p>Not a bee or brace, bluebell or basin out of place.</p>
<p>Night howling not but for the chiming or rhyming… of these antediluvian wilds.&nbsp;<br><br>For in these nights they had&nbsp;</p>
<p>The clouds, not the rain,<br>The sun, not the heat,&nbsp;</p>
<p>The sea, not the flood.&nbsp;</p>
<p><br>For the flood would soon have its time…</p>
<p>Such it was when the Dragon’s first came to the Stillwater Valley.</p>
