<!--
title: widget test
description: 
published: true
date: 2021-06-16T16:55:31.345Z
tags: 
editor: code
dateCreated: 2021-06-16T16:22:34.440Z
-->

<h1>Widget tests</h1>

<h2>Counter</h2>
<p id="counter-display">--</p>
<button id="counter-button">click me</button>