<!--
title: Cain Wassermire the Greater
description: Eldest Prince-Duke of Wassermire
published: true
date: 2021-06-10T22:33:54.818Z
tags: character
editor: ckeditor
dateCreated: 2021-06-10T22:16:00.359Z
-->

<p>Cain Wassermire the Greater is the Eldest Prince-Duke of the Duchy of Wassermire in the First City of Men. Born the eldest of three triplets. Cain is known to be the rashest and most firebrand of his three brothers with whom he shares the title of Duke.&nbsp;</p>
<h1>History</h1>
<p>Ascending to his position in an auxiliary capacity in 969 AoM. Cain was crowned as the <a href="/society/Prince-Elder">Prince-Elder</a> at the young age of 9 during a time of stability in the First City. Only years later he would wrest control of the SkyStream Trade Corporation from his brother Callixtus the Lesser months after the corporation instigated the Dark Draconic War circa. 1001 AoM.&nbsp;<br><br>By virtue of the Arasian dispensation granted to the three brothers during the coronation of the three princes as “joint-Duke's", Cain would publicly conspire to see to his second eldest brother's assassination at the hand of Skystream &nbsp;<br>Scholars of the First city would come to call the reign of the Brother's Wassermire as a time of thrift and strife. As he would lead the forces of Wassermire into conflict against the Dragon Concordat and break the non agression pact between Vilansce-Wassermire-and Kellarn known as the Triple Concordat.&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h2>Assassination of Corwyn the Middle</h2>
<p>Cain would conspire with agents within the<a href="/hidden-lore"> SkyStream Corporation</a> as well as Priests of Coin, to see to his middle siblings permanent removal from the line of succession. Scholars debate as to weather this measure was taken to ensure that Cain could not be deposed or challenged by his middle sibling whose connections within the Church of Coin gave Cain reason to believe his Eldest position within the Ducal hierarchy might be challenged. &nbsp;</p>
<figure class="image image_resized image-style-align-right" style="width:24.01%;"><img src="/cain.png" alt="">
  <figcaption>Cain Wassermire circa. 990 AoM</figcaption>
</figure>
