<!--
title: Saladin Sazafir
description: The Editor in Chief of the Veritable Trust Chronicle
published: true
date: 2021-06-10T22:01:37.566Z
tags: lore, hidden, character
editor: ckeditor
dateCreated: 2021-06-09T22:24:30.890Z
-->

<h1><span class="text-big" style="font-family:Verdana, Geneva, sans-serif;">Saladin Sazafir</span></h1>
<blockquote>
  <p><span class="text-small" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;"><i>Callixtus - “You've filled all of us with your lies...”</i></span><br><span class="text-small" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;"><i>Sazafir - &nbsp;“Lies! They are not lies my boy, they are perspectives!! Think of al the hearts you would break if you told the people of this world that their lives sat in the belly of a monster... they're not ready for that, I am their father, holding their hand. And if you attack my children.... a river of ink shall wash you from history. Not one machine you've constructed will be remembered as more than a mountain in one generation.”</i></span><br><span class="text-small" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;"><i>Callixtus - “They deserve better.”</i></span><br><span class="text-small" style="font-family:'Lucida Sans Unicode', 'Lucida Grande', sans-serif;"><i>Sazafir - “I shall be the judge of that.”</i></span></p>
</blockquote>
<figure class="image image_resized image-style-align-right" style="width:19.01%;"><img src="/saladinsazafir.png">
  <figcaption>Sazafir in his signature Veritean Ceremonial Robes - Circa 1030 AoM.</figcaption>
</figure>
<p>Saladin Sazafir is the trueborn name of an <a href="/Anathema">Anathema</a> who is often associated with the long-running unary Arch Vizier caste of the Veritiean Empire. Auspiciously enigmatic and taking a leading role in the instigation of <mark class="marker-yellow">SkyStream Corporations</mark> participation in the <a href="https://ravensheart-wiki.herokuapp.com/e/en/Dark_Draconic_War">Dark Draconic War</a>. He is also the sole-proprietor of a garden-wide newspaper whose readership encompasses most of the Garden's sentient inhabitants under the pseudonymn <mark class="marker-yellow">Dix Dartan</mark>. While seldom few creatures know of his true existence, <mark class="marker-yellow">Civilized organizations of Magical Authority</mark> like the <mark class="marker-yellow">Wizencourt</mark> or the <mark class="marker-yellow">Forbidden Master's of the First City of Men</mark> largely consider his existence to be a mythological concept similar to the influence of the <mark class="marker-yellow">Aspects of Iwo</mark> on the <mark class="marker-yellow">Destinies Gambit</mark>.&nbsp;</p>
